[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "Fork-Awesome"]
	path = Fork-Awesome
	url = https://github.com/ForkAwesome/Fork-Awesome
[submodule "highlight.js"]
	path = highlight.js
	url = https://github.com/highlightjs/highlight.js
[submodule "reveal.js-mermaid-plugin"]
	path = reveal.js-mermaid-plugin
	url = https://github.com/zjffun/reveal.js-mermaid-plugin
